Checks: '-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-identifier-naming,
  -bugprone-reserved-identifier,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -performance-no-int-to-ptr,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'

CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           "^[test_|stub_].*"
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           camelBack
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE

    # Disable macro naming check for compilation guards (e.g. #ifndef FOO_H_)
  - key:             readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value:           "[A-Z0-9_]+_H_$"

  - key:             readability-identifier-naming.TypedefCase
    value:           lower_case
  - key:             readability-identifier-naming.TypedefSuffix
    value:           '_t'
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.EnumCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE

